* {
  padding: 0;
  margin: 0;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.mynav {
  background-color: #ffffff;
  box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.25);
  padding: 15px !important;
}
.nav-li {
  height: 50px;
  width: 50px;
  background-color: #ff5900;
  color: #ffff;
  border-radius: 50%;
  align-items: center;
  font-size: 20px;
}
.nav-lt h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 auto;
}
.nav-lt p {
  font-size: 16px;
  color: oklch(0.551 0.027 264.364);
  margin: 0 auto;
}
.image-r {
  height: 40px;
  width: 40px;
}
.image-r img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid #ffb86a;
}
.r-icon {
  color: #4a5565;
  cursor: pointer;
  transition: color 0.8s ease;
}
.r-icon :hover {
  color: #f54900;
}
/* =============end navbar================== */

/* ============start section============== */
.tags {
  font-size: 12px;
  font-weight: 600;
}
.cont-l h2 {
  font-size: 36px;
  font-weight: 700;
}
.cont-l p {
  color: #555f6e;
  font-size: 18px;
}
.tag1 {
  width: fit-content;
  background-color: #dbfce7;
  color: #229651;
  border-radius: 10px;
  padding: 3px 10px;
}
.tag2 {
  width: fit-content;
  background-color: #dbeafe;
  color: #1447e6;
  border-radius: 10px;
  padding: 3px 10px;
}
.cont-r {
  font-size: 16px;
}
.bookm {
  background-color: #ffedd4;
  color: #f54900;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.bookm:hover {
  background-color: #ffd6a7;
}
.danger {
  border-left: 4px solid #fb2c36;
  border-radius: 10px;
  padding: 10px;
  background-color: #fef2f2;
  padding: 15px 15px;
}
.ex {
  font-size: 22px;
  color: #fb2c36;
}

.danger-t p {
  color: #9f0712;
  font-size: 16px;
  font-weight: 600;
  margin: 0 auto;
}
.po p {
  font-size: 14px;
  color: #ea212a;
  margin: 0 auto;
}

.ulstyle ul {
  color: #009689 !important;
}

.ulstyle {
  border-bottom: 1px solid rgb(193, 192, 192);
}

.ulstyle li {
  font-size: 18px;
  font-weight: 600;
  color: gray !important;
  padding: 0 20px;
  position: relative;
}

.ulstyle .nav-link {
  border: none !important;
  background: none !important;
  color: rgb(102, 100, 100) !important;
  padding: 16px 0;
  position: relative;
  transition: color 0.3s ease;
}

.ulstyle .nav-link:hover,
.ulstyle .nav-link:focus {
  background: none !important;
  box-shadow: none !important;
}

.ulstyle li::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff6b35;
}

.ulstyle li:focus::after {
  width: 100%;
}

.ulstyle .nav-link.active {
  color: #ff6b35 !important;
}

.ulstyle li:has(.nav-link.active)::after {
  width: 100%;
  background-color: #ff6b35;
}
.ulstyle .nav-link:hover,
.ulstyle .nav-link:hover i {
  color: #ff6b35 !important;
}

.ulstyle .nav-link.active i {
  color: #ff6b35 !important;
}
/* ==============ingredints style========== */
.ingred-b {
  background-color: #fffaec;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
.num-i {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffedd4;
  background-color: #f54900;
  border-radius: 50%;
}
.num-i span {
  font-size: 13px;
  font-weight: 700;
}
.in-t span {
  font-size: 16px;
  color: oklch(0.373 0.034 259.733);
}
/*========= Instruction======== */
.Instruct {
  padding: 20px;
  margin-top: 20px;
}
.num-in {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffedd4;
  background-color: #f54900;
  border-radius: 13px;
}
.num-in span {
  font-size: 18px;
  font-weight: 700;
}
.intr-t span {
  display: flex;

  font-size: 17px;
  color: oklch(0.373 0.034 259.733);
}
/* ===============Nutriton========= */
.bo {
  background-color: #f9fafb;
  box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
}
.nut-i {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f54900;
  background-color: #f1e9d3;
  border-radius: 10px;
}
.nut-r p {
  font-size: 18px;
  color: oklch(0.373 0.034 259.733);
  font-weight: 500;
}
.nut-l span {
  font-size: 20px;
  font-weight: 700;
}
.nut-ip {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #155dfc;
  background-color: #dbeafe;
  border-radius: 10px;
}
.nut-ic {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d08700;
  background-color: #fef9c2;
  border-radius: 10px;
}
.nut-id {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e7000b;
  background-color: #ffe2e2;
  border-radius: 10px;
}
.nut-is {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00a63e;
  background-color: #dbfce7;
  border-radius: 10px;
}
.nut-ic {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e60076;
  background-color: #fce7f3;
  border-radius: 10px;
}
/* ===========chef============ */
.chef-big {
  background-color: #fffbeb;
  border-left: 4px solid #ffb900;
  border-radius: 10px;
  padding: 20px;
}
.chef-big p {
  font-size: 16px;
  color: oklch(0.373 0.034 259.733);
}
.c-icon {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffbeb;
  background-color: #e17100;
  border-radius: 50%;
  font-size: 12px;
}
/* ============end section============== */
.joo {
  padding: 50px;
}
.innerr {
  position: relative;
  height: 100%;
  min-height: 600px;
}
.innerr .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.innerr .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section {
  background-color: #ffff;
}
.jo {
  margin: 50px 20px;
  border-radius: 30px;
}
.random-btn {
  margin: 20px;
  padding: 12px 22px;
  background: #ff5c4d;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  cursor: pointer;
}

.random-btn:hover {
  background: #ff7468;
}
